<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="nav-bar"></div>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <img v-bind:src="image" />
        </div>
        <div class="product-info">
          <h1>{{ title }}</h1>
          <p v-show="inventory > 10">In Stock</p>
          <p v-bind:style="[inStock ? objectClass1 : '']">Out of Stock</p>
          <ul>
            <li v-for="detail in details">{{detail}}</li>
          </ul>
          <div
            v-for="(variant, index) in variants"
            v-on:mouseover="updateProduct(index)"
            v-bind:key="variant.variantId"
            class="color-box"
            v-bind:style="{backgroundColor: variant.variantColor}"
          ></div>
          <button
            v-on:click="addToCart"
            v-bind:disabled="!inStock"
            v-bind:class="{disabledButton: !inStock}"
          >
            Add to Cart
          </button>
          <button @click="removeFromCart">Remove From Cart</button>
          <div class="cart">
            <p>Cart({{cart}})</p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
